{% extends 'base2.html' %}
{% load static %}
{% block headcontent %}
<title>Sobre Nosotros - Platinum Group</title>  
<link rel="stylesheet" href="{% static 'css/navigation/about.css' %}">
{% endblock headcontent %}

{% block container %}
  
<div class="relleno" style="height: 90px;"><h1>Sobre Nosotros</h1></div>
<div class="fondo fadeInUp ">
    <div class="wrapper ">
    <div class="descripcion">
        
        <p><b>PLATINUM GROUP</b> a lo largo de los años ha adquirido el conocimiento y la experiencia necesaria para ofrecer a los clientes un servicio de calidad, y desempeñar las labores encomendadas, relacionadas con la ejecución de proyectos inmobiliarios en Juticalpa.</p>
        <h2>ASI SOMOS EN PLATINUM GROUP</h2>
        <div class="valores">
           
            <div class="integridad valor">
                <div class="imagContainer">
                    <img src="{% static 'images/compro2.png' %}" alt="Responsables" srcset="">
                    
                </div>
                <div class="descripcionImg">
                    <p><b>Integros</b></p>
                    <p>Intentamos ser justos con nuestros clientes y las autoridades gubernamentales, respentando los derechos de cada uno</p>
                </div>
            </div>
            <div class="responsabilidad valor">
                    <div class="imagContainer">
                        <img src="{% static 'images/respon2.png' %}" alt="Responsables" srcset="">
                        
                    </div>
                    <div class="descripcionImg">
                        <p><b>Responsables</b></p>
                        <p>Nos esforzamos por cumplir nuestros compromisos con los ciudadanos en general, las autoridades y nuestros clientes</p>
                    </div>
                </div>
            <div class="superacion valor">
                <div class="imagContainer">
                    <img src="{% static 'images/superacion.svg' %}" alt="Responsables" srcset="">
                    
                </div>
                <div class="descripcionImg">
                    <p><b>Autosuperadores</b></p>
                    <p>Cada dia buscamos mejorar nuestras tecnicas de trabajo, intentando mantener el estilo y cultura de una ciudad, pero, innovando en nuevos modelos de construcción</p>
                </div>
            </div>
        </div>
        <h3>¿Que hacemos?</h3>
        <p>Somos una empresa constructora en Juticalpa especializada en prestar servicios para la ejecución de proyectos inmobiliarios en Juticalpa. Entre nuestros servicios se encuentran: ejecución de obras de ingeniería civil, o la elaboración y ejecución de proyectos de construcción inmobiliarios, como ser: Residenciales y Colonias.</p>
        <h3>Proyeccion Social</h3>
        <p>En <b>PLATINUM GROUP</b> contribuimos y estamos implicados con el desarrollo social de Juticalpa, es por eso que nuestro proyecto <b>Residencial Villa Florencia</b> forma parte de los proyectos cuyos compradores son apoyados por el "Programa de Vivienda Social" de <b>Convivienda</b>, además respetamos tanto la normativa referente a los temas de seguridad ocupacional como el medio ambiente.</p>
       
    </div>
    </div>
    
</div>

  

{% endblock container %}