{% extends "base2.html" %}
{% load static %}
{% block headcontent %}
  
<title>Convivienda - Platinum Group</title>
<link rel="stylesheet" href="{% static 'css/navigation/convivienda.css' %}" type = "text/css">
{% endblock headcontent %}

{% block container %}
<div class="fondo fadeInUp ">
    <div class="wrapper ">
        <div class="logosYTema">
            <div class="imageContainer">
                <img src="{% static 'images/convivienda.png' %}" alt="">
            </div>
            <div class="tema"><h2>Convivienda y Platinum Group</h2></div>
            <div class="imageContainer">
                <img src="{% static 'images/logo2.png' %}" alt="">
            </div>
        </div>
        <div class="contenido">
            <h3>¿Que es Convivienda?</h3>
            <p>El 30 de mayo del 2014 se creó la Comisión Nacional de Vivienda y Asentamientos humanos (CONVIVIENDA) a efecto de crear y articular el Programa Nacional de Vivienda, con el objeto de resolver en un contexto general los principales problemas sociales que enfrenta la población el tema de vivienda social, el cual representa un tema de urgente necesidad a solventar mediante la utilización de recursos humanos y financieros del país.</p>
            <h4>Misión</h4>
            <p>Somos la Institución Pública, que se encarga de coordinar, facilitar, regular y normar la Política Nacional de Vivienda y Asentamientos Humanos, logrando la integración de todas las Entidades Públicas, Privadas y ONG´s para facilitar el acceso a viviendas dignas con el propósito de mejorar la calidad de vida de la población, principalmente a las familias de menores ingresos, mediante la entrega de Bonos para una Vida Mejor.</p>
            <h4>Visión</h4>
            <p>Para el año 2018 ser el ente rector del sector de vivienda social. CONVIVIENDA será una Institución modelo en la región, eficiente, con credibilidad y reconocimiento tanto del sector público y privado, con programas y normativas que garanticen el acceso de las familias hondureñas a las soluciones habitacionales dignas en un entorno seguro y sustentable.</p>
            <h3>¿Porque es importante?</h3>
            <p>Convivienda brinda a todas las personas la oportunidad de adquirir su hogar recibiendo un descuento de hasta 115,000 lempiras y/o una taza hasta del 9.7% de interés anual, compitiendo con el 10.5% de interés anual de los bancos con la tasa mas baja, estos bancos tampoco pueden proover un descuento de 115,000 lempiras entre sus programas privados, pues el gobierno solo canaliza el bono a travez de Convivienda.</p>
            
            <h3>Convivieda y Desarrolladores</h3>
            <p>Es aqui donde entra en juego <b>PLATINUM GROUP</b>, pues Convivienda solo canaliza su subsidio a desarrolladores certifcados, además, deben inscribirse cada proyecto y cada modelo de Vivienda que se desarrollara en dichos proyectos, de lo contrario, <b>NO PODRAN CONTAR CON EL Y BONO Y TASA DE INTERES DE CONVIVIENDA, PLATINUM GROUP</b> y <b>RESIDENCIAL VILLA FLORENCIA</b> con todos sus modelos, estan inscritos en Convivienda, así que tu puedes obtener todos estos beneficios comprando en <b>VILLA FLORENCIA.</b></p>
            </div>

            <p class="llamada"><a href="tel:504278538444">Llamar a Platinum Group</a> para mas información</p>
    </div>

</div>

{% endblock container %}