:root{
    --color-naranja:#48dbfb;
    --color-azul:#00367C;
    --paddind-inputs:10px 15px;
    --fuente:'Poppins', sans-serif;
    --tamano-modelos: 400px;
    --blanco:#FFFFFF;
    --gris-descripcion:#B3B3B3;
    --gris-oscuro:#444444;
    --gris-suave:#F7F7F7;
    /* --verde-hover:#117E4A; */
    --verde-hover:#1dd1a1;
    
}

body{
    background-color: #F7F7F7;
}
.relleno h1{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2em;
}
.relleno{
    background-color: #F7F7F7;
    height: 90px;
    text-align: center;
    padding-top: 40px;
}
.fondo{
    background-color: #F7F7F7;
    font-size: 1em;
}

/*---------------------------------------------------- CUERPO DE LA PAGINA --------------------------------------------*/

.formDatos{
    background-color: white;
    padding: 40px;
    display: flex;
    
    justify-content: space-around;
    
}
.form{
    width: 60%;
}
.form form{
    display: flex;
    flex-direction: column;
}
.form form label{
    padding-bottom: 5px;
    padding-top: 13px;
}
.form form input[type="text"],[type="email"],[type="tel"]{
    padding: 12px 20px;
    box-sizing: border-box;
    border:1px solid rgba(128, 128, 128, 0.2);
    color: #808080;
    font-family: var(--fuente);
    border-bottom: 1px solid ;
    
    transition: 0.5s ease-in-out;
    
}
.form form input[type="text"]:hover, .form form input[type="email"]:hover, .form form input[type="tel"]:hover{
    border: none;
    border-bottom: 2px solid #1EA69A;
    
}
.form form textarea{
    resize: none;
    border:1px solid rgba(128, 128, 128, 0.2);
    padding: 12px 20px;
    color: #808080;
    box-sizing: border-box;
    font-family: var(--fuente);
    border-bottom: 1px solid ;
    transition: 0.5s;
}
.form form textarea:hover{
   
    border-bottom: 2px solid #1EA69A;
}
#submit{
    color: white;
    width: 100px;
    margin-top: 30px;
    padding: 12px 20px;
    border: none;
    background-color: #1EA69A;
    transition: 0.2s all linear;
    font-family: var(--fuente);
}
#submit:hover{
    background-color:#10655E;
}
.datos{
    padding-top: 15px;
    margin-left: 30px;
}
.conjunto{
    padding-bottom: 20px;
}
.iconContainer p{
    margin: 0;
    display: inline;
    padding-left: 5px;
    font-weight: normal;
    
}

.iconContainer span{
    color: #808080;
    font-size: 1.3em;
}
.dato{
    padding-left: 1.9em;
}
.dato a{
    color: #808080;
    text-decoration: none;
    transition: 0.2s all linear;
}
.dato a:hover{
    color: #1EA69A;
}

.mapa{
    display: flex;
    justify-content: center;
    height: 700px;
    background-color: white;
    padding-bottom: 70px;
    margin-bottom: 70px;
}
/*----------------------------------------------- FIN DEL CUERPO DE LA PAGINA --------------------------------------------*/

@keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

 
@keyframes bell{
    0%{
        transform:rotate(35deg);
    }
    12.5%{
        transform: rotate(-30deg);
    }
    25%{
        transform: rotate(25deg);
    }
    37.5%{
        transform: rotate(-20deg);
    }
    50%{
        transform: rotate(15deg);
    }
    62.5%{
        transform: rotate(-10deg);
    }
    75%{
        transform: rotate(5deg);
    }
    100%{
        transform: rotate(0deg);
    }
}


@media screen and (max-width:1024px) {

}

@media screen and (max-width:900px) {
}

@media screen and (max-width:768px) {


}
@media screen and (max-width:725px) {
    
}
@media screen and (max-width:695px) {
  
}
@media screen and (max-width:630px) {

    .formDatos{
        flex-wrap: wrap;
    } 
    .form{
        width: 100%;
    }
    .datos{
        padding-top: 0;
        margin-top: 40px;
        margin-left: 0px;
        width: 100%;
    }

}


@media screen and (max-width:425px) {
   
    
}
@media screen and (max-width:375px) {

    
}
@media screen and (max-width:320px) {
    body{
        font-size: 12px;
    }
}
@media screen and (max-width:280px) {
    body{
        font-size: 10px;
    }
}