<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head_content %}
      
    {% endblock head_content %}
    {% load static %}
    <link href="{% static 'css/style.css' %}" type="text/css">
    <link href="{% static 'https://fonts.googleapis.com/css?family=Poppins|Rubik&display=swap' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" type="text/css">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/platiIcon/apple-touch-icon.png' %}">
    <link rel="" type="image/png" sizes="32x32" href="{% static 'images/platiIcon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/platiIcon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/platiIcon/site.webmanifest' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>

    
        {% block container %}

            
        
        {% endblock container %}
        {% include "footer.html" %}
        

</body>
</html>