{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}" type="text/css">
<footer>
    <div class="info">
            <div class="logo2">
                    <div class="imgContainerPla">
                        <img src="{% static 'images/logo2.png' %}" alt="">
                    </div>
                </div>
            <div class="contacto">
                <div class="ubicacion distriDatos">
                        <span class="icon-location"></span><p>Boulevard Los Poetas, entre 4ta y 5ta avenida, media cuadra al este de Banhcafe, <br>Juticalpa, Olancho</p>
                </div>
                <div class="telefono distriDatos">
                        <span class="icon-phone"></span><a href="tel:504278538444">Contacto: 2785-3844</a>
                </div>
                <div class="whatsapp distriDatos">
                        <span class="icon-whatsapp"></span><a href="https://api.whatsapp.com/send?phone=50495512926&text=Hola%quiero%info">95512926</a>
                </div>
            </div>
            <div class="facebook">
                <a href="https://www.facebook.com/esau97/" target="_blank" rel="noopener noreferrer"><span class="icon-facebook"> </span></a>
            </div>
    </div>
</footer>